#consolata {
	width: 901px;
	margin: 0 auto;
	height: 524px;
	background-image: url('../images/consolata4.jpg');
}
#consolata nav {
	min-height: 135px;
}
.header-wrapper{
	width: 901px;
	height: 95px;
	background: -webkit-linear-gradient(#241c1a, rgba(48, 40, 38, 0.03));
	background: -o-linear-gradient(#241c1a, rgba(48, 40, 38, 0.03));
	background: -moz-linear-gradient(#241c1a, rgba(48, 40, 38, 0.03));
	background: linear-gradient(#241c1a, rgba(48, 40, 38, 0.03));
}
.navbar-custom {
	width: 901px;
	background: -webkit-linear-gradient(#241c1a,rgba(56, 47, 45, 0.62), rgba(35, 30, 29, 0)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#241c1a,rgba(56, 47, 45, 0.62), rgba(35, 30, 29, 0)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#241c1a,rgba(56, 47, 45, 0.62), rgba(35, 30, 29, 0)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#241c1a,rgba(56, 47, 45, 0.62), rgba(35, 30, 29, 0)); /* Standard syntax */
	border-color: rgba(54, 25, 25, .00004);
	border-bottom: 0px rgba(243, 237, 237, 0.03);
    border-radius: 0px;
    border-top: 0px rgba(243, 237, 237, 0.03);
}
.navbar-custom a {
	text-decoration: none;
}
.navbar-header {
	width: 220px;
	margin-left: 75px;
	float: left
}
.header-icon p {
	color:white;
	text-align: justify;
	font-size: 9px;
	letter-spacing: -0.5px;
    width: 116px;
    height: 55px;
    float: left;
    padding-top: 20px;
}
.header-icon p span {
	font-size: 27px;
	letter-spacing: 0px;
	display: block;
}
.navbar-right-custom{
	width: 600px;
	float: right;
}
.navbar-right-custom ul li a {
	color:white !important;
	font-size: 11px;
	padding-top: 8px;
	height: 34px;
}
.navbar-right-custom ul li a:hover {
	opacity: 0.5;
}
#search-icon {
	background-color: rgba(54, 25, 25, .00004);
  	border-color: rgba(54, 25, 25, .00004);
  	width:70px	;
}

/* ----- */
#section-introduce {
	width: 901px;
	margin: 0 auto;
	height: 1270px;
	background-color: #f2f2f2;
}
.row1, .row2, .row3{
	width: 645px;
	margin-left: 130px;
}
.h2textcustom {
	margin-top: 25px; font-size: 16px; font-weight: bold; margin-left: 25px;line-height: 1.35;
}
.spantextcustom {
	display: block;
	margin-top: -23px;
	margin-left: 25px;
	font-size: 10px;
	font-weight: bold;
	color:#f5d707;
}
.ptextcustom {
	margin-left: 25px;
  	font-size: 10px;
  	line-height: 1.1;
  	margin-top: 8px;
  	font-weight: bold;
  	letter-spacing: -0.4px;
}
.h2text2custom {
	margin-top: 19px; font-size: 13px; font-weight: bold; margin-left: 19px;line-height: 1.35; min-height: 52px;
}
.spantext2custom {
	display: block;
	margin-top: -23px;
	margin-left: 19px;
	font-size: 9px;
	font-weight: bold;
	color:#f5d707;
}
.ptext2custom {
  	margin-left: 19px;
  	font-size: 10px;
 	line-height: 1.1;
  	margin-top: 8px;
  	font-weight: bold;
  	letter-spacing: -0.4px;
}
.button1 {
	margin-left: 25px;
	margin-top: 30px;
	color: #f8d100;
	background-color: #282421;
	border: 0px;
	width: 75px;
	height: 27px;
	font-size: 10px;
	border-radius: 5px;
}
.button1:hover{
	opacity: 0.8;
}
.button2{
	color: black;
	background-color: #f3d906;
	border: 0px;
	width: 75px;
	height: 27px;
	font-size: 10px;
	border-radius: 5px;
	margin-left: 19px;
}
.button2:hover{
	opacity: 0.8;
}
.row-image {
	max-width: 202px;
	height: 402px;
	background-color: white;
	padding-left: 0px;
}
.blockrow2 {
	height: 192px;
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
}
.blockrow2header {
	height: 42px;
	border-bottom: 1px solid #EFE9E9	;
}
.blocktextheader{
	font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}
.custom-carousel {
	height: 150px;
	color:black;
	width: 202px;
	font-size: 12px;
	left: 0;
	text-shadow: none;
	font-weight: bolder;
	line-height: 1.1;
	margin-top: 24px;
}
.carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin: 1px;
	background-color: #e0dc07;
}
.carousel-indicators li {
	background-color:#757575;
}
/* ----------------------------------------------------------- */
#section-contact {
	height: 255px;
	width: 901px;
	margin: 0 auto;
}
.contact-menu {
	background-color: #2a2220;
	height: 41px;
	width: 901px;
}
.menutext {
	height: 41px;
	max-width: 140px;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 41px;
	margin-left: 55px;
	font-size: 11px;
	float: left;
}
.contact-menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	margin-right: 65px;
}
.contact-menu li {
	float: left;
}
.contact-menu ul a:hover {
	opacity: 0.7;
}
.contact {
	height: 180px;
	width: 901px;
	background-color: #ffffff;
}
.contact span {
	font-size: 11px;
	padding-left: 40px;
	font-weight: bold;
	padding-top: 18px;
	display: block;
}
.contact ul {
	list-style: none;
	padding-left: 32px;
  	letter-spacing: -0.1px;
}
.contact ul li {
	padding-left: 35px;
	font-size: 10px;
	margin-top:11px;
	padding-top: 2px;
	font-weight: bold;
}
.contact .ul ul {
	padding-top: 11px;
}
.contact .ul ul + ul {
	padding-left: 22px;
}
.contact .ul ul li {
	padding-left:15px;
	margin-top: 0px;
	letter-spacing: -0.1px;
	font-weight: normal;
}
.contact .ul ul a {
	color: black;
	text-decoration: none;
}
.contact .ul ul a:hover {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.ul2{
	padding-left: 1px;
}
.contact .ul2 ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-left: 0px;
}
.contact .ul2 li {
	float: left;
	padding-left: 0;
}
.button3 {
	height: 28px;
	width: 150px;
	border: solid 1px #bdaeb1;
	color: #bdaeb1;
	background-color: white;
	font-size: 10px;
	margin-top: 14px;
	margin-left: 5px;
}
.button3:hover, .button3:focus, .button3:active, .button3:visited{
	opacity: 0.7;
	color:#BB6878;
	border: solid 1px #BB6878 !important;
}
.contact .ul2 span {
	padding-left: 5px;
}